<div ng-app="app">
  <div ng-controller="sports_ctrl" ng-init="setup()">
    <div ng-repeat="sport in sports">
      <li ng-click="flip(sport)">{{sport.name}}</li>
      <li ng-if="sport.bioVis">{{sport.age}}</li>
      <li ng-if="sport.bioVis">{{sport.ball}}</li>
      <li>---------------</li>
    </div>

    Sport<input ng-model="sport_name">
    Age- <input ng-model="age">
    Ball<input ng-model="ball">

    <button ng-click="addNewSport(sport_name, age, ball)">Submit </button>
  </div>
</div>
